header {
    display: flex;
    max-width: ;
    background-color: rgb(68, 231, 74);
}

body {
    background-image: 
    url(../assets/Article-glowsticks.jpg);
    
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none
}

.nav-list li {
    max-width: ;
}

.top-section {
    color: aliceblue;
    font-family: monospace;
    font-size: 2rem;
}

.columns {
    display: flex;
    gap: 3rem;
    border: 5rem;
}

.columns > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
