.body2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 42, 91);
}

.header {
    width: 100%;
    align-items: center;

}


.button {
    width: 15rem;
}

h1 {
    font-family: 'Creepster', cursive;

}

